<a href="https://colab.research.google.com/github/veneseurie/VanessaMMM/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

datos = pd.read_csv('datos(in).csv')

print(datos)

    N. cuenta    Nombre   Apellido  Edad  Saldo actual Nacionalidad  \
0        1001      Juan   Gonzalez    28       1500.75     Mexicana
1        1002       Ana   Martinez    34       3200.50     Española
2        1003     Pablo      Lopez    49       4250.00    Argentina
3        1004     Laura     Garcia    23       1200.10     Mexicana
4        1005    Carlos  Rodriguez    36       5320.80      Chilena
..        ...       ...        ...   ...           ...          ...
95       1096  Cristina     Bustos    30       4200.75     Mexicana
96       1097    Samuel    Linares    27       1950.65     Española
97       1098    Monica    Cabrera    43       4600.30    Argentina
98       1099    Marcos     Chavez    35       3200.00      Chilena
99       1100    Emilia      Veiga    28       3990.55      Peruana

       Oficio Estado civil
0   Ingeniero      Soltero
1     Abogada       Casada
2      Doctor   Divorciado
3   Enfermera      Soltera
4    Contador       Casado
..        ...          ...
95  Contadora       Casada
96  Ingeniero   Divorciado
97    Abogada       Casada
98     Doctor       Casado
99  Enfermera      Soltera

[100 rows x 8 columns]

In [4]:
import pandas as pd

datos = pd.read_csv('datos(in).csv')

print(datos['Nombre'])

0         Juan
1          Ana
2        Pablo
3        Laura
4       Carlos
        ...
95    Cristina
96      Samuel
97      Monica
98      Marcos
99      Emilia
Name: Nombre, Length: 100, dtype: object

In [8]:
import pandas as pd

datos = pd.read_csv('datos(in).csv')

print(datos[['Nombre', 'Saldo actual']])

      Nombre  Saldo actual
0       Juan       1500.75
1        Ana       3200.50
2      Pablo       4250.00
3      Laura       1200.10
4     Carlos       5320.80
..       ...           ...
95  Cristina       4200.75
96    Samuel       1950.65
97    Monica       4600.30
98    Marcos       3200.00
99    Emilia       3990.55

[100 rows x 2 columns]

In [11]:
import pandas as pd

datos = pd.read_csv('datos(in).csv')

datos_filtrados = datos[datos['Saldo actual'] > 5000]

print(datos_filtrados)

    N. cuenta     Nombre   Apellido  Edad  Saldo actual Nacionalidad  \
4        1005     Carlos  Rodriguez    36        5320.8      Chilena
64       1065  Margarita      Pérez    30        5320.8      Peruana
85       1086    Daniela    Miranda    38        5320.8      Peruana

        Oficio Estado civil
4     Contador       Casado
64  Estudiante      Soltera
85   Ingeniera   Divorciada

In [13]:
import pandas as pd

datos = pd.read_csv('datos(in).csv')

datos['nrendimiento'] = datos['Saldo actual'] * 1.15

print(datos)

    N. cuenta    Nombre   Apellido  Edad  Saldo actual Nacionalidad  \
0        1001      Juan   Gonzalez    28       1500.75     Mexicana
1        1002       Ana   Martinez    34       3200.50     Española
2        1003     Pablo      Lopez    49       4250.00    Argentina
3        1004     Laura     Garcia    23       1200.10     Mexicana
4        1005    Carlos  Rodriguez    36       5320.80      Chilena
..        ...       ...        ...   ...           ...          ...
95       1096  Cristina     Bustos    30       4200.75     Mexicana
96       1097    Samuel    Linares    27       1950.65     Española
97       1098    Monica    Cabrera    43       4600.30    Argentina
98       1099    Marcos     Chavez    35       3200.00      Chilena
99       1100    Emilia      Veiga    28       3990.55      Peruana

       Oficio Estado civil  nrendimiento
0   Ingeniero      Soltero     1725.8625
1     Abogada       Casada     3680.5750
2      Doctor   Divorciado     4887.5000
3   Enfermera      Soltera     1380.1150
4    Contador       Casado     6118.9200
..        ...          ...           ...
95  Contadora       Casada     4830.8625
96  Ingeniero   Divorciado     2243.2475
97    Abogada       Casada     5290.3450
98     Doctor       Casado     3680.0000
99  Enfermera      Soltera     4589.1325

[100 rows x 9 columns]

In [15]:
import pandas as pd

datos = pd.read_csv('datos(in).csv')

datos.fillna(0, inplace=True)

print(datos)

    N. cuenta    Nombre   Apellido  Edad  Saldo actual Nacionalidad  \
0        1001      Juan   Gonzalez    28       1500.75     Mexicana
1        1002       Ana   Martinez    34       3200.50     Española
2        1003     Pablo      Lopez    49       4250.00    Argentina
3        1004     Laura     Garcia    23       1200.10     Mexicana
4        1005    Carlos  Rodriguez    36       5320.80      Chilena
..        ...       ...        ...   ...           ...          ...
95       1096  Cristina     Bustos    30       4200.75     Mexicana
96       1097    Samuel    Linares    27       1950.65     Española
97       1098    Monica    Cabrera    43       4600.30    Argentina
98       1099    Marcos     Chavez    35       3200.00      Chilena
99       1100    Emilia      Veiga    28       3990.55      Peruana

       Oficio Estado civil
0   Ingeniero      Soltero
1     Abogada       Casada
2      Doctor   Divorciado
3   Enfermera      Soltera
4    Contador       Casado
..        ...          ...
95  Contadora       Casada
96  Ingeniero   Divorciado
97    Abogada       Casada
98     Doctor       Casado
99  Enfermera      Soltera

[100 rows x 8 columns]

In [17]:
import pandas as pd

datos = pd.read_csv('datos(in).csv')

datos.rename(columns={'Saldo actual': 'rendimiento'}, inplace=True)

datos['saldoreal'] = datos['rendimiento'] * 1.15

print(datos)

    N. cuenta    Nombre   Apellido  Edad  rendimiento Nacionalidad     Oficio  \
0        1001      Juan   Gonzalez    28      1500.75     Mexicana  Ingeniero
1        1002       Ana   Martinez    34      3200.50     Española    Abogada
2        1003     Pablo      Lopez    49      4250.00    Argentina     Doctor
3        1004     Laura     Garcia    23      1200.10     Mexicana  Enfermera
4        1005    Carlos  Rodriguez    36      5320.80      Chilena   Contador
..        ...       ...        ...   ...          ...          ...        ...
95       1096  Cristina     Bustos    30      4200.75     Mexicana  Contadora
96       1097    Samuel    Linares    27      1950.65     Española  Ingeniero
97       1098    Monica    Cabrera    43      4600.30    Argentina    Abogada
98       1099    Marcos     Chavez    35      3200.00      Chilena     Doctor
99       1100    Emilia      Veiga    28      3990.55      Peruana  Enfermera

   Estado civil  saldoreal
0       Soltero  1725.8625
1        Casada  3680.5750
2    Divorciado  4887.5000
3       Soltera  1380.1150
4        Casado  6118.9200
..          ...        ...
95       Casada  4830.8625
96   Divorciado  2243.2475
97       Casada  5290.3450
98       Casado  3680.0000
99      Soltera  4589.1325

[100 rows x 9 columns]